@import "~purecss/build/pure";
@import "~purecss/build/grids-responsive";
/*@import "~pure-extras/css/pure-extras";*/

.header {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  max-width: 768px;
  margin: 0 auto;
  padding: 1em;
  text-align: center;
  border-bottom: 1px solid #eee;
  background: #fff;
  letter-spacing: 0.05em;
}

/*
.input-helper {
  position: relative;
  display: inline-block;
  margin-bottom: 5px;
}
.input-helper:before {
  content: '';
  display: block;
  position: absolute;
}

.input-helper-radio {
  padding-left: 18px;
}
.input-helper-radio:before {
  top: 3px;
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #222;
}

.input-helper-checkbox {
  padding-left: 20px;
}
.input-helper-checkbox:before {
  top: 2px;
  left: 0;
  width: 13px;
  height: 13px;
  border: 1px solid #222;
}

input[type="radio"] {
  display: none;
}
label.input-helper input[type="radio"]:checked {
  background: #222;
}

input[type="checkbox"] {
  display: none;
}
label.input-helper input[type="checkbox"]:checked {
  background: #222;
}
*/
